body{
font-family:Arial;
margin:0;
background:linear-gradient(135deg,#a5e2dd);
color:rgb(208, 171, 224);
text-align:center;
}

.title{
margin-top:20px;
}

.container{
max-width:400px;
margin:auto;
padding:15px;
}

/* CARD */

.card-box{
perspective:1000px;
margin-bottom:20px;
}

.card{
width:100%;
height:200px;
position:relative;
transform-style:preserve-3d;
transition:transform 0.8s;
}

.card.flip{
transform:rotateY(180deg);
}

.front,.back{
position:absolute;
width:100%;
height:100%;
border-radius:15px;
padding:20px;
box-sizing:border-box;
backface-visibility:hidden;
}

.front{
background:linear-gradient(45deg,#000,#434343);
}

.back{
background:black;
transform:rotateY(180deg);
}

.chip{
width:45px;
height:30px;
background:gold;
border-radius:5px;
}

.number{
letter-spacing:3px;
margin-top:40px;
font-size:18px;
}

.brand{
position:absolute;
right:20px;
bottom:20px;
font-size:20px;
font-weight:bold;
}

.tap{
position:absolute;
right:20px;
top:20px;
font-size:20px;
animation:tap 1.5s infinite;
}

@keyframes tap{

0%{opacity:0.3}
50%{opacity:1}
100%{opacity:0.3}

}

.strip{
height:40px;
background:#333;
margin-top:20px;
}

.cvv{
margin-top:20px;
text-align:right;
}

/* LOGIN + ATM */

.login,#atmBox{
background:white;
color:black;
padding:20px;
border-radius:10px;
}

#atmBox{
display:none;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:5px;
border:1px solid gray;
}

button{
margin-top:10px;
padding:10px;
width:100%;
background:#2a5298;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#80b2d6;
}

.balance{
font-size:20px;
font-weight:bold;
}

ul{
text-align:left;
max-height:150px;
overflow:auto;
}

/* MOBILE */

@media(max-width:500px){

.title{
font-size:22px;
}

.card{
height:180px;
}

}
/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 20px;
background:#c1c8d7;
color:white;
}

.navbar a{
color:white;
margin-left:15px;
text-decoration:none;
}

.navbar a:hover{
text-decoration:underline;
}

/* LOGOUT BUTTON */

.logout{
background:red;
margin-top:10px;
}
